<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vavisa.masafah">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".tap_add.map.MyAddressActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".tap_add.invoice.Invoice"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tap_add.companies.CompaniesActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBpxL6cQvCyuD6lxrCFSsnflf3biyULc6s" />

        <activity
            android:name=".activities.StartUpActivity"
            android:noHistory="true"
            android:theme="@style/startUp_style">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tap_add.map.MapActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.LoginActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".verify_phone_number.VerifyYourNumberActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tap_add.add_address.AddAddressActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tap_add.add_shipment.AddShipmentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tap_add.map.SelectLocationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tap_my_shipment.company_details.CompanyDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="54cc6074b05a01d36002627727aa0c29a5022a6c" />
    </application>

</manifest>